/*
Corporate Software AG
SPS-Branding:	Céline Horst, Joris Baiutti 
*/

body {
	line-height:1.5;
}
#s4-ribbonrow {
	background: rgba(255,255,255,0.8) !important;
}
#titleAreaBox {
}
.ms-core-pageTitle, .ms-core-pageTitle a {
	display: none;
}

#s4-titlerow {
	height:90px !important;
	max-width:100%;
	padding-right: 250px;
	background-color: #1A526E !important;
	opacity: 0.9; 
}
#s4-workspace {
	background:url("") no-repeat right bottom;
}
/* 
Top-Navigation Office 365
*/
.o365spo.o365cst.o365cs-base .o365cs-topnavBGColor-2, .o365cs-topnavBGColor-2.o365spo.o365cst.o365cs-base{
	background-color: #003F5E !important;  
	opacity: 0.9; 	 
}
.ms-core-listMenu-horizontalBox {
	margin-top:65px;
	margin-left:72px;
	margin-left: 80px !important;
}
.ms-core-menu-arrow {
	margin-left: 3px;
}

.ms-core-listMenu-horizontalBox a {
	color:#FFFFFF !important;
	text-transform:uppercase;
	padding-right: 20px;
	border-right:3px solid #ffffff !important;
	margin:4px;
	margin-left:-10px !important;
}
.ms-core-listMenu-horizontalBox a:hover, .ms-core-listMenu-horizontalBox a:focus {
	font-weight:bold;
}
ul.dynamic a {
	color:#FFF !important;
	text-transform: none;
	line-height: 22px;
	padding-bottom:2px;
	border-right:0px !important; 
}
ul.dynamic a:hover, ul.dynamic a:focus {
	font-weight:normal !important;
	color:#FFF !important;
	border-bottom:1px solid #FFF;
}
ul.dynamic {
	min-width:240px !important;
	color:#FFF !important;
	margin:0 0 0 10px;
	padding:7px 10px 7px 25px; 
	border:0px solid #004b93; 
	left: -9999px; 
	top: -9999px; 
	white-space: normal; 
	position: absolute; 
	z-index: 50; 
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background-color: rgba(0,72,147,0.9);
}
 
.ms-core-listMenu-verticalBox {
	background-color:rgb(0,147,208) !important;
	opacity: 0.9; 
	border-right: 1px solid black;
	border-top: 1px solid black; 
}

.ms-core-listMenu-verticalBox a{
	border-bottom:1px solid black;
	color: black !important; 
	opacity: 1; 
}


.ms-core-listMenu-verticalBox a:hover, .ms-core-listMenu-verticalBox a:focus, .ms-core-listMenu-verticalBox a:active {
	color: white !important;
	background-color: #003F5E !important;
	text-decoration: underline; 
}

/*
	Ganze Box
*/
#DeltaPlaceHolderLeftNavBar {
	padding-left:30px;
	margin-left:-30px;
	box-shadow: 0px 0px 10px black; 
}

#DeltaPlaceHolderLeftNavBar a {
	padding-bottom: 5px;	
	
}


#DeltaPlaceHolderSearchArea {
	float: right !important;
	margin-right: -250px;
}
#searchInputBox {
	font-size:1.2em !important;
	color:#004b93 !important;
	background: #FFF !important;
	margin-top:10px;
	border: black 1px solid !important; 
	border-radius: 20px 20px 20px 20px; 
	
}
#searchInputBox a {
	color:#004b93 !important;
	border-radius: 20px 20px 20px 20px;
}
#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sboxdiv {
	color:#00000 !important;
	border: black 1px solid !important; 
	border-radius: 20px 20px 20px 20px; 
}
#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sbox{
	text-transform: uppercase;
	margin-bottom: 3px;  
	margin-left: 10px; 
}

.ms-srch-sb-border
{
 box-shadow: 0px 0px 10px grey; 
}
.ms-srch-sb-border:hover
{
 border:1px solid #FFF;
}
.ms-siteactions-hover {
	border:0 !important; 
}

#siteIcon {
	margin-top:-10px;
	margin-left:-5px;
	
}
.ms-siteicon-img {
	display:block; 
	max-height:65px; 
	max-width:200px;
	
}
.ms-siteicon-a {
	display:inline-block; 
	max-height:65px; 
	max-width:200px;
}


#sideNavBox {
	width:200px !important; 
	border-radius:0 20px 20px 0;
}

#contentBox h1, #contentBox h2, #contentBox h3, #contentBox h4, #contentBox h5, #contentBox h6 {
	font-weight: bold !important;
	font-size: large; 
	border-bottom: 1px solid #003F5E;
	padding:15px 0 5px 0;
	margin-bottom:10px; 
	color: rgb(0,63,94);  
}
#contentBox {
	color: rgb(0,147,208); 
	margin-right:20px;
	margin-left:240px;
	min-height:500px;
	max-width:95% !important;
	padding:10px;
	background-color:rgba(255,255,255,0.9) !important;

}
.ms-wiki-columnSpacing {
	max-height:600px !important;
	padding:20px;
	background-color: rgba(0,153,212,0.3);
	border-radius:0 0 20px 20px;
	}
.ms-webpart-chrome-title {
	padding:2px !important;
}
.js-webpart-titleCell a:hover {
	text-decoration:none !important;
}
.clear {
	clear:both !important;
}

/* end off style for media screen */